@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background-color: #fff;
  transition: background-color .5s;
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

:root.dark {
  background-color: #27272a;
  /* color: #fff; */
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    background-color: #121212;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dark body {
  color: #fff;
}
