

.appCard{
    //background:#0f0;
    position: relative;
    
    input[type="checkbox"] {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
      padding: 4px;
      
      &+label {
          position: absolute;
          top: 0;
          left: 0;
          width: 2em;
          height: 2em;
          background: #f00;
          display: block;
      }
      
      &:checked + label {
          background: #00f;
      }
    }
}

.appCardGroup {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    img {
        width: 250px;
    }
}